<ion-view view-title="Oggetti">
    <ion-header-bar class="bar bar-subheader no-padding search-bar">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Cerca" ng-model="query">
            </label>
            <i class="icon ion-close-circled padding" ng-click="query=''"></i>
        </div>
    </ion-header-bar>
    <ion-content class="tab-items">
        <ion-list class="table-list floating-button-list">
            <div ng-repeat="category in categories |  orderBy:'Name'">
                <ion-item class="item-stable category" ng-click="toggleCategory(category)" ng-class="{active:category.isOpen}">
                    <div class="row">
                        <div class="col col-10">
                            <i class="icon" ng-class="category.isOpen ? 'ion-minus' : 'ion-plus'"></i>
                        </div>
                        <div class="col name">
                            {{category.Name}}
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item item-accordion category-item" ng-repeat="item in category.getItems() | filter:query | orderBy:'Name'" ng-show="category.isOpen" ng-click="addBagItem(item)" on-hold="showMenu(item)" on-swipe-left="removeBagItem(item)">
                    <div class="row">
                        <div class="col col-10 icon" ng-click="showDetails($event, item, false)">
                            <i class="icon ion-information-circled"></i>
                        </div>
                        <div class="col name">
                            {{item.Name}}
                        </div>
                        <div class="col col-10 quantity" ng-hide="getInventoryQuantity(item) == 0">
                            {{getInventoryQuantity(item)}}
                        </div>
                        <div class="col col-20 weight">
                            {{item.Weight}} Kg
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    <button class="button button-assertive button-float high-float" ui-sref="tabs.items-item-detail({itemId: -1, isEdit: true})">
        <i class="icon ion-plus"></i>
    </button>
</ion-view>