<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Personaggio" icon="ion-android-contact" href="#/tabs/character">
        <ion-nav-view name="tab-character"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Inventario" icon="ion-briefcase" href="#/tabs/inventory">
        <ion-nav-view name="tab-inventory"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Oggetti" icon="ion-android-list" href="#/tabs/items">
        <ion-nav-view name="tab-items"></ion-nav-view>
    </ion-tab>
</ion-tabs>